## Python enumerate() Function

The enumerate() function takes a collection (e.g. a tuple) and returns it as an enumerate object.

The enumerate() function adds a counter as the key of the enumerate object.

In [ ]:
# Convert a tuple into an enumerate object
x = ('apple', 'banana', 'cherry')
y = enumerate(x)
print(list(y))

In [ ]:
grocery = ['bread', 'milk', 'butter']

# Loop Over an Enumerate Object
for item in enumerate(grocery):
  print(item)

print()

In [ ]:
for count, item in enumerate(grocery):
  print(count, item)

In [ ]:
# change the default counter and loop 
for count, item in enumerate(grocery, 100):
  print(count, item)

## Python List comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

In [ ]:
# With list comprehension you can do all that with only one line of code

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

In [ ]:
# The condition is like a filter that only accepts the items that valuate to True.
# Only accept items that are not "apple":
newlist = [x for x in fruits if x != "apple"]

In [ ]:
newlist = [x for x in fruits]

In [ ]:
#  We can use the range() function to create an iterable:
newlist = [x for x in range(10)]

In [ ]:
#accept number lower than 5
newlist = [x for x in range(10) if x < 5]

In [ ]:
# Set all values in the new list to 'hello':
newlist = ['hello' for x in fruits]

In [ ]:
# Return "orange" instead of "banana":
newlist = [x if x != "banana" else "orange" for x in fruits]

## Python map() Function

The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

In [ ]:
#Calculate the length of each word in the tuple ('timothy', 'joshua', 'larry')
def myfunc(n):
      return len(n)

x = map(myfunc, ('timothy', 'joshua', 'larry'))

In [ ]:
# Make new names by sending two iterable objects into the function

def myfunc(a, b):
      return a + b

x = map(myfunc, ('timothy', 'joshua', 'larry')), ('olat', 'john', 'Hillary'))

### Global Scope

A variable created in the main body of the Python code is a global variable and belongs to the global scope.
Global variables are available from within any scope, global and local.

### What is a Module?

Consider a module to be the same as a code library.
A file containing a set of functions you want to include in your application.

In [7]:
#Save this code in a file named mymodule.py

def greeting(name):
    print("Hello, " + name)

In [1]:
#Import the module named mymodule, and call the greeting function:
import mymodule
mymodule.greeting("Jonathan")

Hello, Jonathan

Variables in Module:

The module can contain functions, as already described, 
but also variables of all types (arrays, dictionaries, objects etc):

In [ ]:
#Save this code in the file mymodule.py
person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}

In [2]:
#Import the module named mymodule, and access the person1 dictionary:
import mymodule as mm
a = mm.person1['age']
print(a)

36

### Naming a Module

You can name the module file whatever you like, but it must have the file extension .py

### Re-naming a Module

You can create an alias when you import a module, by using the as keyword:

In [ ]:
#Create an alias for mymodule called mx:
import mymodule as mx

a = mx.person1["age"]
print(a)

Using the dir() Function
There is a built-in function to list all the function names (or variable names) in a module. 
The dir() function:

In [ ]:
#List all the defined names belonging to the platform module:
import platform

x = dir(platform)
print(x)

In [ ]:
#The module named mymodule has one function and one dictionary:
def greeting(name):
    print("Hello, " + name)

person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}

In [ ]:
from mymodule import person1

print (person1["age"])

## Python Dates

A date in Python is not a data type of its own,
but we can import a module named datetime to work with dates as date objects.

In [1]:
#Import the datetime module and display the current date:
import datetime

x = datetime.datetime.now()
print(x)

2023-09-06 07:27:27.137619

## Date Output

When we execute the code from the example above the result will be:

2022-02-07 15:37:33.964149
The date contains year, month, day, hour, minute, second, and microsecond.

The datetime module has many methods to return information about the date object.

Here are a few examples, you will learn more about them later in this chapter:

In [7]:
#Return the year and name of weekday:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%D")) #from A to D

2023
09/06/23

Creating Date Objects
To create a date, we can use the datetime() class (constructor) of the datetime module.

The datetime() class requires three parameters to create a date: year, month, day.

In [8]:
#Create a date object:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

The strftime() Method
The datetime object has a method for formatting date objects into readable strings.
The method is called strftime(), and takes one parameter, format, 
to specify the format of the returned string

In [9]:
#Display the name of the month:
import datetime
x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

### Built-in Math Functions

The min() and max() functions can be used to find the lowest or highest value in an iterable

In [ ]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

The abs() function returns the absolute (positive) value of the specified number:

In [3]:
x = abs(-7.25)

print(x)

7.25

In [ ]:
import math

When you have imported the math module, you can start using methods and constants of the module.

The math.sqrt() method for example, returns the square root of a number:

In [ ]:
import math

x = math.sqrt(64)
print(x)

The math.ceil() method rounds a number upwards to its nearest integer, 
and the math.floor() method rounds a number downwards to its nearest integer, and returns the result:

In [ ]:
import math

x = math.ceil(1.4)
y = math.floor(1.4)

print(x) # returns 2
print(y) # returns 1

In [ ]:
#The math.pi constant, returns the value of PI (3.14...):

In [4]:
import math

x = math.pi

print(x)

3.141592653589793

## JSON in Python

In [ ]:
#Import the json module:

#import json

In [ ]:
#Convert from JSON to Python:

import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

In [ ]:
#Convert from Python to JSON:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

### RegEx Module

Python has a built-in package called re, which can be used to work with Regular Expressions.

In [6]:
#Search the string to see if it starts with "The" and ends with "Spain":

import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
x

In [ ]:
#The findall() function returns a list containing all matches.
import re

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

In [ ]:
import re

txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

In [ ]:
#The search() Function
#The search() function searches the string for a match, and returns a Match object if there is a match.

#If there is more than one match, only the first occurrence of the match will be returned:

In [ ]:
#Search for the first white-space character in the string:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

In [ ]:
#The split() function returns a list where the string has been split at each match:
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

In [ ]:
#Split the string only at the first occurrence:

import re

txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

In [7]:
#Replace every white-space character with the number 9:

import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [ ]:
#Replace the first 2 occurrences:
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

In [ ]:
#Do a search that will return a Match Object:

import re

txt = "The rain in Spain"
x = re.search("ai", txt)
print(x) #this will print an object

In [ ]:
#Print the position (start- and end-position) of the first match occurrence.

#The regular expression looks for any words that starts with an upper case "S":

import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

In [ ]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

In [ ]:
#Print the part of the string where there was a match.

#The regular expression looks for any words that starts with an upper case "S":

import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

## Python Try Except

The try block lets you test a block of code for errors.

The except block lets you handle the error.

The else block lets you execute code when there is no error.

The finally block lets you execute code, regardless of the result of the try- and except blocks.

## Exception Handling

When an error occurs, or exception as we call it, Python will normally stop and generate an error message.

These exceptions can be handled using the try statement:

In [ ]:
#The try block will generate an exception, because x is not defined:

try:
  print(x)
except:
  print("An exception occurred")

In [ ]:
#Raise an error and stop the program if x is lower than 0:

x = -1

if x < 0:
    raise Exception("Sorry, no numbers below zero")

In [ ]:
#Raise a TypeError if x is not an integer:

x = "hello"

if not type(x) is int:
    raise TypeError("Only integers are allowed")